html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  background: $body-color;
}

.background--white {
  color: $black;
  background: $white;
}

// TODO: rename variables or class names to match variables names
.background--light-blue {
  color: $black;
  background: $section-background-color;
}

.background--dark-blue {
  color: $white;
  background: $secondary-color;
}

.section-padding {
  &-first {
    padding: $section-padding-first-desktop 0 $section-padding-desktop;

    @include mobile {
      padding: $section-padding-first-mobile 0 $section-padding-mobile;
    }
  }

  &-default {
    padding: $section-padding-desktop 0;

    @include mobile {
      padding: $section-padding-mobile 0;
    }
  }
}

.section-title {
  margin-bottom: 40px;

  h2 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @include desktop {
      font-size: 40px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 300;
  }
}

.section-image {
  display: block;
  max-width: 60%;

  @include desktop {
    margin-left: 0;
    margin-right: auto;
  }

  @include tablet {
    margin: 0 auto;
  }
}

.form-control {
  background: transparent;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  border-width: 0 0 1px 0;
  border-color: $primary-color;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-appearance: none;
  height: 42px;

  &:focus {
    box-shadow: none;
    background: transparent;
    border-color: $text-color;
  }
}

select.form-control {
  height: 42px !important;
  position: relative;
}

.select-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background: url("../images/angle-down-select.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-80%);
  }
}

textarea.form-control {
  height: auto;
}

.btn-positioned {
  display: block;
  width: fit-content;

  @include desktop {
    margin-left: 0;
  }

  @include tablet {
    margin: 0 auto;
  }
}
