// site color variables
$body-color: #fff;
$primary-color: #f76c5e;
$secondary-color: #354780;
$text-color: #9d9ea5;
$text-color-dark: #00113e;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #f7f9ff;
$dark-gray: #646569;

// components
$section-background-color: #e2e7f6;

// solid colors
$white: #fff;
$black: #000;

// font variables
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// padding
$section-padding-first-desktop: 150px;
$section-padding-first-mobile: 120px;
$section-padding-desktop: 60px;
$section-padding-mobile: 50px;
