@use "../mixins";
@use "../variables";

.site-bio {
  color: variables.$black;
  background: variables.$white;
  padding: variables.$section-padding-desktop 0;

  @include mixins.mobile {
    padding: variables.$section-padding-mobile 0;
  }

  &-image {
    max-width: 60%;
    margin: 0 auto;
  }
}
