.site-bio {
  color: $black;
  background: $white;
  padding: $section-padding-desktop 0;

  @include mobile {
    padding: $section-padding-mobile 0;
  }

  &-image {
    max-width: 60%;
    margin: 0 auto;
  }
}
