@use "../mixins";
@use "../variables";

.site-contact {
  padding: variables.$section-padding-first-desktop 0
    variables.$section-padding-desktop;
  background: variables.$gray;

  @include mixins.mobile {
    padding: variables.$section-padding-first-mobile 0
      variables.$section-padding-mobile;
  }

  &-title {
    font-weight: 700;

    @include mixins.tablet {
      font-size: 40px;
    }

    span {
      color: variables.$primary-color;
    }
  }

  &-form {
    margin-top: 20px;

    h4 {
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 50px;
      letter-spacing: 3px;

      @include mixins.tablet {
        font-size: 20px;
      }

      @include mixins.desktop {
        margin-bottom: 70px;
      }
    }
  }
}

.contact-form-generator {
  margin-top: 20px;

  a {
    color: variables.$text-color-dark;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 3px;

    &:hover {
      text-decoration: none;
    }

    @include mixins.tablet {
      font-size: 20px;
    }

    @include mixins.desktop {
      margin-bottom: 70px;
    }
  }
}
