.site-hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $hero-background-color;

  @include desktop {
    height: auto;
    padding: 100px 0;
  }

  @include mobile {
    padding: 150px 0;
  }

  &-heading {
    color: $white;
    margin-bottom: 50px;

    h1 {
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    p {
      color: $white;
    }
  }

  &-image {
    border-radius: 10px;
  }

  &-content {
    &-buttons {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        @include mobile {
          display: block;
        }

        &:not(:last-child) {
          margin-right: 30px;

          @include mobile {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }

        .btn {
          font-weight: 600;

          @include mobile {
            width: 90%;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }

  &-scroll {
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
  }
}
