.site-lessons {
  &--white {
    color: $black;
    background: $white;
  }

  &--light {
    color: $black;
    background: $section-background-color;
  }

  &--dark {
    color: $white;
    background: $secondary-color;
  }

  &-first {
    padding: $section-padding-first-desktop 0 $section-padding-desktop;

    @include mobile {
      padding: $section-padding-first-mobile 0 $section-padding-mobile;
    }
  }

  &-default {
    padding: $section-padding-desktop 0;

    @include mobile {
      padding: $section-padding-mobile 0;
    }
  }

  &-image {
    display: block;
    max-width: 60%;

    @include desktop {
      margin-left: 0;
      margin-right: auto;
    }

    @include tablet {
      margin: 0 auto;
    }
  }
}
