.site-lessons {
  color: $black;
  background: $white;
  padding: 60px 0;

  @include mobile {
    padding: 50px 0;
  }

  &-image {
    display: block;
    max-width: 60%;

    @include desktop {
      margin-left: 0;
      margin-right: auto;
    }

    @include tablet {
      margin: 0 auto;
    }
  }
}

.page-lessons {
  &-first {
    padding: 150px 0 60px;

    @include mobile {
      padding: 120px 0 50px;
    }
  }

  &-rest {
    padding: 60px 0;

    @include mobile {
      padding: 50px 0;
    }
  }

  &--light {
    color: $black;
    background: $section-background-color;
  }

  &--dark {
    color: $white;
    background: $secondary-color;
  }

  &-image {
    display: block;
    max-width: 60%;

    @include desktop {
      margin-left: 0;
      margin-right: auto;
    }

    @include tablet {
      margin: 0 auto;
    }
  }
}
