@use "../mixins";
@use "../variables";

.site-statement {
  color: variables.$black;
  background: variables.$section-background-color;
  padding: variables.$section-padding-desktop 0;

  @include mixins.mobile {
    padding: variables.$section-padding-mobile 0;
  }
}
