.site-testimonial {
  overflow: hidden;
  color: $white;
  background: $secondary-color;
  padding: $section-padding-desktop 0;

  @include mobile {
    padding: $section-padding-mobile 0;
  }

  &-item {
    color: $black;
    background: $section-background-color;
    padding: 30px;
    min-height: 170px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in;

    &.active {
      box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.05);
    }

    &.inactive {
      opacity: 0.5;
    }

    &-quote {
      color: $black;
      font-weight: 300;
    }

    &-author {
      color: $black;
      margin: 0;
      text-align: right;
    }
  }
}
