<footer class="site-footer">
  <div class="container">
    <div class="site-footer-bar">
      {{ with .Site.Params.footer.contact }}
      <div class="site-footer-widget">
        <h5 class="site-footer-widget-title">{{ .title }}</h5>
        <ul class="site-footer-widget-links">
          {{ range .link }}
          <li><a href="{{ .url }}">{{ .name }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}

      <a href="#top" class="site-footer-widget-top">
        <p>{{ .Site.Params.footer.back_to_top.description | safeHTML }}</p>
        <img src="{{ "images/to-top.svg" | absURL }}" alt="back to top">
      </a>

      <div class="site-footer-copyright">
        <p>© {{ dateFormat "2006" now }} {{ site.Params.footer.copyright }}</p>
      </div>
    </div>
  </div>
</footer>

{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
