{{ with .Site.Params.lessons }}
  {{ if .enable }}
  <section class="section-padding-default background--white" id="lessons">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-4 mb-4 mb-md-0 align-self-center text-center">
          <img src="{{ .lessons_image | absURL }}" class="section-image">
        </div>

        <div class="col-lg-8 col-md-8">
          <div>
            <div class="section-title">
              <h2>{{ .heading }}</h2>
            </div>
            <span>{{ .content }}</span>
          </div>

          <a href="{{ .primary_button_url | absLangURL }}"
            class="btn btn-sm btn-secondary btn-rounded btn-positioned mt-4">
            <span class="btn-area">
              <span data-text="{{ .primary_button }}">
                {{ .primary_button }}
              </span>
            </span>
          </a>

        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
